<div id="wrapper" ng-controller = "searchAddTutorialController">
  <div id="page-wrapper"><br><br>
    <!-- /.row -->
    <ol class="breadcrumb">
      <li><a href="#/project/{{project.id}}/tutorial/add">{{ project.title }}</a></li>
      <li class="active">Add Tutorial from the List</li>
    </ol>

    <div class="row">
      <div class="search-tutorial">
        <div class="col-lg-12">

          <div class="page-header">
            <h1>Add Tutorial from the List</h1>
          </div>

          <div class="panel panel-default">
            <form role="form" ng-submit="searchAddTutorial()">
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th colspan="3"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="tutorial in tutorials">
                        <td><input type="checkbox" value="{{tutorial.id}}" ng-checked="selection.indexOf(tutorial.id) > -1" ng-click="toggleSelection(tutorial.id)"></td>
                        <td>{{tutorial.title}}</td>
                        <td align="right"><rating readonly="true" ng-model="tutorial.difficulty" max="max"></rating></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="form-group">
                  <p class="text-right">
                    <button type="submit" class="btn btn-default btn-lg btn-black">Add Tutorial</button>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /.col-lg-12 -->
    </div>
  </div>
    <!-- /#page-wrapper -->

</div>
    <!-- /#wrapper -->