<div id="wrapper" ng-controller = "addStepController">
  <div id="page-wrapper"><br><br>
    <!-- /.row -->
    <ol class="breadcrumb">
      <li><a href="#/project/{{project.id}}/tutorial/add">{{ project.title }}</a></li>
      <li><a href="#/project/{{project.id}}/tutorial/{{tutorial.id}}/edit">{{ tutorial.title }}</a></li>
      <li class="active">Add Step</li>
    </ol>

    <div class="page-header">
                  <h1>Add Step</h1>
                </div>
                <tabset justified="true">
                    <!-- ########################### WRITE ################################ -->
                    <tab heading="Documentation">
                      <div class="panel panel-default add-step-tabs">
                        <div class="panel-body">
                          <form name="form" role="form" ng-submit="addNewStep()" novalidate  class="create-project">
                            <div class="form-group">
                                <label>Title</label>
                                <input name="title" class="form-control" ng-model="step.title" required>
                                <div ng-show="form.$submitted || form.title.$touched">
                                  <p ng-show="form.title.$error.required">You need to input description for the project.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Body</label>
                                <textarea name="body" class="form-control" rows="20" ng-model="step.body" required></textarea>
                                <div ng-show="form.$submitted || form.body.$touched">
                                  <p ng-show="form.body.$error.required">You need to input description for the project.</p>
                                </div>
                            </div>
                            <div class="form-group text-right">
                              <button type="button" ng-click="cancel()" class="btn btn-default btn-lg btn-black" >Cancel</button>
                              <button type="submit" class="btn btn-default btn-lg btn-cyan">Save Step</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </tab>
                    <!-- ########################### PREVIEW ################################ -->
                    <tab heading="Preview">
                      <div class="panel panel-default add-step-tabs">
                        <div class="panel-body">
                          <div btf-markdown="step.body">
                          </div>
                        </div>
                      </div>
                    </tab>
                    <!-- ########################### ASSETS ################################ -->
                    <tab heading="Assets">
                      <div class="panel panel-default add-step-tabs">
                        <div class="panel-body">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <b>Copy the URL</b>
                            </div>
                            <div class="panel-body">
                              <div class="col-lg-3 col-md-4" ng-repeat="image in images">
                                <img src="{{image.image_url}}" class="img-thumbnail">
                                <div class="form-group" style="margin-top: 10px;">
                                  <input class="form-control" ng-model="image.image_url" required>
                                </div>
                              </div>
                            </div>
                          </div>

                          
                          <form ng-submit="imageProfile()">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group profile-photo">
                                  <span class="file-input btn btn-block btn-file" uploader="uploader" >
                                    <div class="jumbotron" >
                                      <ul >
                                        <i class="fa fa-camera"> Upload Image</i>
                                      <ul>
                                    </div> 
                                    <input type="file" nv-file-select="" uploader="uploader" required/>
                                  </span >
                                </div>


                                <div class="form-group">
                                  <p align="right" ng-hide="asd">
                                    <button type="submit" class="btn btn-default btn-lg btn-black">Upload Image</button>
                                  </p>
                                  <p align="right" ng-show="asd">
                                    <button type="submit" class="btn btn-default btn-lg btn-black" disabled="disabled">Uploading Image</button>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </tab>
                  </tabset>
   

  


  </div>
</div>