<div id="wrapper" ng-controller="admisionController">
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Users</h1>
      </div>
    </div>
    <section class="user_wrapper">
      <div class="row">
        <div class="col-lg-12" >
          <tabset justified="true">
            <tab heading="Admissions" ng-click="admissions()">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="col-lg-8"><br>
                    <ul class="list-group">
                      <li class="list-group-item" ng-repeat="user in users">
                        <div class="col-md-9"><i class="fa fa-user"></i><span>{{user.email}}</span></div>
                        <button type="submit" class="btn btn-success btn-xs" ng-click="accept(user.id)">Accept</button> 
                        <button type="reset" class="btn btn-danger btn-xs" ng-click="decline(user.id)">Decline</button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </tab>

            <tab heading="Permissions" ng-click="permissions()">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="col-lg-12"><br>
                    <ul class="list-group">
                      <div ng-repeat="user in users">
                        <form role="form">
                          <li class="list-group-item">
                            <div>User: <strong><span>{{user.email}}</span></strong></div>
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th colspan="3"></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="project in projects">
                                  <td><input id="{{project.id}}{{user.id}}" type="checkbox" value="{{project.id}}" ng-checked="{{ permittedProject(user.permitted_projects, project.id)}}" ng-click="setPermission(project.id, user.id)"></td>
                                  <td>{{project.title}} </td>
                                </tr>
                              </tbody>
                            </table>
                          </li>
                        </form>
                      </div>
                    </ul>
                  </div>
                </div>
              </div>
            </tab>

          </tabset>
        </div>
      </div>
    </section>
  </div>
</div>