<section class="homepage" ng-controller="signInController">
  <div class="container sign-in-panel">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
          <div class="panel-body">
            <h3 class="panel-title">Bot Access</h3>
            <section ng-hide="signup">
              <form name="form" ng-submit="signIn()" novalidate class="css-form">
                <fieldset>
                  <div class="form-group">
                    <input type="email" name="uEmail" class="form-control input-lg" id="inputEmail" placeholder="Enter email" ng-model="credentials.email" >
                    <div ng-show="form.$submitted || form.uEmail.$touched">
                      <span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control input-lg" id="inputPassword" placeholder="Password" ng-model="credentials.password">
                  </div>
                  <div class="checkbox">
                    <label>
                      <input name="remember" type="checkbox" value="Remember Me">Remember Me
                    </label>
                  </div>
                  <!-- Change this to a button or input when using this as a form -->
                  <a href="" class="btn btn-lg btn-default btn-block" ng-click="login()">Log In</a>
                  <a href="" class="btn btn-lg btn-link btn-block" ng-click="signupForm()">Sign Up</a>
                </fieldset>
              </form>
            </section>
            <section ng-show="signup">
              <form name="form" ng-submit="signing()" novalidate class="css-form">
                <fieldset>
                  <div class="form-group">
                    <input type="text" class="form-control input-lg" name="name" ng-model="credentials.name" placeholder="Name" required>
                    <div ng-show="form.$submitted || form.name.$touched">
                      <span ng-show="form.name.$error.required">Please Enter Name.</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control input-lg" name="uEmail" ng-model="credentials.email" placeholder="Email" required>
                    <div ng-show="form.$submitted || form.uEmail.$touched">
                      <span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control input-lg" name="password" ng-model="credentials.password" placeholder="Password" required ng-minlength="8" ng-maxlength="15" title="8 to 15 characters">
                    <div ng-show="form.$submitted || form.password.$touched">
                      <span ng-show="form.password.$error.required">Please Enter Password.</span>
                      <span ng-show="form.password.$error.minlength">Too Short (8 to 15 characters).</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control input-lg" name="passconfirm" ng-model="credentials.password_confirmation" placeholder="Password Confirmation" required ng-minlength="8" ng-maxlength="15" title="8 to 15 characters">
                    <div ng-show="form.$submitted || form.passconfirm.$touched">
                      <span ng-show="form.passconfirm.$error.required">Please Enter Password Confirmation.</span>
                      <span ng-show="credentials.password_confirmation != credentials.password">Password mismatched.</span>
                    </div>
                  </div>
                  <a href="" class="btn btn-lg btn-default btn-block" ng-click="buttonSignUp()">Sign Up</a>
                </fieldset>
              </form>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
