section.user_wrapper
  .nav-tabs.nav-justified
    border-bottom: 0
  ul.nav-tabs
    margin-top: 10px
  ul.nav-tabs li a 
    font-weight: 600
    padding: 20px 15px
    font-size: 13px
    text-transform: uppercase
    letter-spacing: 0.15em
  ul.list-group li
    i.fa
      color: #198384
      margin-right: 10px
      margin-left: -14px
      font-size: 13px
  .tab-content
    .panel 
      border-top: none
      border-radius: 0

