body 
  background-color: #5b605f !important
  ul.navbar-top-links li 
    a
      color: #00D0D3 !important
    a:hover, a:focus 
      background-color: #4E4E4E
    ul.dropdown-menu li 
      a 
        color: #333 !important
      a:hover, a:focus 
        background-color: #EEEEEE
  ul.nav .open>a
    background-color: #4E4E4E !important

  .sidebar 
    ul.nav li 
      a 
        color: #EEEEEE
        i.fa 
          font-size: 18px
          margin-right: 8px
      a.active 
        color: #ffffff !important
        background-color: #4E4E4E
    ul.nav>li>a:hover, .nav>li>a:focus
      background-color: #4E4E4E

.navbar-default 
  background-color: #333333 !important
  border-color: #ffffff !important
.navbar-brand
  padding: 10px 15px !important
  font-family: 'Expletus Sans', cursive
  font-weight: 600
  img 
    height: 32px
    margin-top: -5px
  p 
    color: #ffffff
    line-height: 37px

@media (min-width: 768px)
  #page-wrapper 
    min-height: 800px !important  
    border-left: none !important
    padding: 0 40px !important

#wrapper 
  .dashboard-panels
    .panel 
      border-color: #333333
      border: 2px solid #333333
      .panel-heading
        background-color: #f9f9f9
        border-color: #FFFFFF
        color: #333
        padding: 20px 35px
      .huge 
        font-size: 46px
        font-weight: 700
      .panel-footer
        background-color: #333333
        border-bottom-right-radius: 1px
        border-bottom-left-radius: 1px
        color: #00D0D2
        font-size: 16px
        padding: 20px 30px
        &:hover 
          background-color: #000

#page-wrapper 
  h1.page-header
    border-bottom: 5px solid #DDDDDD
    font-size: 21px

.project-list
  padding-bottom: 50px
  a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover
    border: 2px solid #1FA6A7
  .thumbnail .caption 
    padding: 15px
  .thumbnail 
    border: 2px solid #ddd
    text-decoration: none
    padding: 0
    h3 
      margin-top: 0
    p 
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
    img 
      border-radius: 2px 2px 0 0
      width: 100%
    .well 
      box-shadow: none
      margin-bottom: 0
      min-height: 180px
      padding: 2px 5px
      .form-group
        margin-bottom: 0
        margin: 8px 10px
      h4 
        font-size: 15px
        margin: 0 0 5px 0

.add-project
  .jumbotron
    background-color: #F5F5F5
    border: 2px dotted #ddd
    text-align: center
    i.fa 
      color: #ddd
      font-size: 42px
       
  .panel-body 
    padding: 40px 
  form 
    .form-group 
      .well 
        box-shadow: none
        .form-group
          margin-bottom: 0
          h3 
            color: #ABABAB
            font-size: 12px
            margin: 8px 0
            text-transform: uppercase
            letter-spacing: 0.09em
            font-weight: 600
          label
            font-size: 15px

.project-details
  margin-top: 20px
  .page-header 
    margin-top: 0
    padding-bottom: 45px
    border-bottom: 5px solid #eee
    h1 
      font-size: 26px
      font-weight: 600
      small 
        font-size: 90%
      .col-md-10, .col-md-2
        padding: 0
  h2 
    font-size: 11px
    font-weight: 600
    margin-bottom: 10px
    margin-top: 10px
    text-transform: uppercase
    letter-spacing: 0.1em
    color: #BCBCBC
  ul
    margin-bottom: 0
    li
      color: #333
      font-size: 11px
      font-weight: 200 
      h4 
        color: #229697
        font-size: 11px
        font-weight: 200
        margin-top: 0
        margin-bottom: 0

  .well 
    box-shadow: none
    margin-bottom: 0
    padding: 10px
    .form-group
      margin-bottom: 0
      margin: 10px
    h4 
      font-size: 15px
      margin: 0 0 5px 0
    span.label 
      font-size: 12px
  .tutorials
    margin-bottom: 50px
    .panel.panel-default
      border-color: transparent 
      box-shadow: none 
      .panel-body 
        padding: 0
    .well.tutorial-wrapper 
      background-color: #F3F9F9
      margin-bottom: 20px
      border-radius: 0
      border: none
      border-top: 5px solid #1F8C8D
      p 
        color: #333
      a:hover h3 
        text-decoration: underline !important
    .tutorial-list
      padding: 0 10px 15px 10px
      h3 
        margin-bottom: 20px
      h4
        color: #229494
        font-size: 14px
        margin: 10px 0
      p.rating 
        font-size: 21px
        color: #FF9D00
      a.btn.btn-danger
        border-radius: 0
        left: 20px
        position: relative
        right: 0
        bottom: 0
        top: -5px
        text-align: right
        float: right

.new-tutorial 
  .panel 
    border-radius: 2px
  .panel-heading 
    font-size: 18px
    font-weight: 600
    padding: 10px 20px
    border-bottom: 5px solid transparent
  form 
    margin-top: 30px
    padding-bottom: 30px
    padding-right: 40px
    .star-rating
      color: #FF9D00
      font-size: 26px

.search-tutorial
  .page-header 
    margin-top: 0
    h1 
      font-size: 21px
      font-weight: 600
  .panel 
    padding: 5px 20px
  table tr 
    font-size: 18px

.add-steps-form 
  .page-header
    margin-top: 0
    margin-bottom: 20px
    border-bottom: 5px solid #eee
    h1 
      font-size: 26px
      margin-bottom: 0
      margin-top: 0
  .add-step-tabs
    border-top: none
    border-radius: 0
    span.btn
      font-size: 24px
      padding: 0
    .panel-body 
      padding: 25px 35px
    .profile-photo
      input[type=file] 
        line-height: 0
        font-size: 16px
    .jumbotron
      background-color: #F5F5F5
      border: 2px dotted #ddd

  ul.nav-tabs 
    margin-top: 25px
  ul.nav-tabs li a
    font-weight: 600
    padding: 20px 15px
    font-size: 13px
    text-transform: uppercase
    letter-spacing: 0.15em

.add-steps-tutorial
  .panel .panel-body
    padding: 5px 10px
    .form-group
      margin-bottom: 0
    .form-group label 
      font-size: 11px
      font-weight: 600
      margin-bottom: 0px
      margin-top: 10px
      text-transform: uppercase
      letter-spacing: 0.1em
      color: #BCBCBC
  .panel-heading 
    font-size: 18px
    font-weight: 600
    padding: 10px 20px
    border-bottom: 5px solid transparent
  .star-rating
    color: #FF9D00
    font-size: 26px

.tutorial-steps-list
  ul.list-group
    margin-top: 40px
    .media-body
      vertical-align: middle
    .media-left
      span.label 
        font-size: 18px
        line-height: 32px
    p.tutorial-action-btn 
      color: #333
      font-size: 13px
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      margin: 3px 0 0px
    .btn-default
      background: #f5f5f5
      border: 1px solid #ccc
      color: #707070
      padding: 3px 7px
      font-size: 12px
      line-height: 1.5
      border-radius: 2px
      margin-bottom: 0
      i.fa 
        color: #707070
      &:hover 
        border-color: #707070
    .btn-default.btn-remove
      background-color: #FFCECE
      border-color: #B93030
      i.fa
        color: #B93030
      &:hover 
        border-color: #B93030
        background-color: #B93030
        i.fa
          color: #fff
  .well 
    background-color: #ffffff
    box-shadow: none
    border: 3px solid #287475
    margin-top: 30px
    margin-bottom: -20px
    padding: 5px 6px
    ul li  
      h2 
        margin-top: 0
      h3
        margin-top: 10px


section._list-of-steps
  padding-bottom: 100px
  .well.quick-btn 
    background: #fff
    border: none
    box-shadow: none
    padding: 0 
    float: right























