section.projects_list
  .list-group
    h3 
      margin-top: 10px
      font-size: 18px
      font-weight: bold
      span 
        font-weight: 200
        font-size: 16px
    p 
      font-size: 13px
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
    .list-group-item
      padding: 3px 15px
    .list-group-item:hover
      background-color: #F3F9F9
      h3
        color: #000 
    .technology-stack
      border-top: 2px dotted #f5f5f5
      box-shadow: none
      margin-bottom: 0
      padding: 0
      ul
        margin-bottom: 0 
        li
          color: #A7A7A7
          font-size: 11px 
          font-weight: 200
          h4 
            color: #229697
            font-size: 11px
            font-weight: 200
            margin-top: 5px
            margin-bottom: 5px

section.list-of-tutorials
  .well 
    margin-bottom: 10px
    text-align: right
    padding: 0
    background-color: #fff
    border: 1px solid #fff
  ul.list-group 
    margin-bottom: 50px
    li 
      h3
        font-size: 21px
        margin-top: 5px
        margin-bottom: 10px
      p 
        color: #333
        font-size: 13px
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
        margin: 0 0 5px
      .btn-default
        background: #f5f5f5
        border: 1px solid #ccc
        color: #707070
        padding: 3px 7px
        font-size: 12px
        line-height: 1.5
        border-radius: 2px
        i.fa 
          color: #707070
        &:hover 
          border-color: #707070
      .btn-default.btn-remove
        background-color: #FFCECE
        border-color: #B93030
        i.fa
          color: #B93030
        &:hover 
          border-color: #B93030
          background-color: #B93030
          i.fa
            color: #fff
      p.actions
        margin-top: -30px








